html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 2.5em;
  letter-spacing: 0.05em;
  margin: 0;
  text-align: center;
}

hr {
  margin: 0;
}

h2 {
  font-family: 'Libre Bodoni', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}