.article-list {
    padding: 0.5rem 5vw 1rem 5vw;
}

.article-img {
    border-radius: 0.1rem;
    object-fit: cover;
    height: auto !important;
}

.article-bar * {
    white-space: normal;
}

@media (max-width: 800px) {
    .article-bar * {
        white-space: nowrap;
    }
}

.article-bar {
    background: rgb(0, 0, 0, 0.4);
    max-height: 150px;
}

.article-card {
    min-height: 150px !important;
    min-width: 150px;
    outline: solid rgb(223, 223, 223) 1px;
    outline-offset: 5px;
}